@import '../../styles/_globals';
.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    width: 100%;
    height: 140px;
    background-color: $accent-color;
    display: flex;
    font-family: 'Amithen';
    color: black;
    font-size: 2em;
    justify-content: space-between;
    z-index: 1;
    .title {
      padding: 0 0.4em;
      display: flex;
      align-items: flex-end;
    }
    .icon {
      padding: 0 0.4em;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .portfolio-container {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-grow: 2;
    border-collapse: collapse;
    background-color: #e2e1e0;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
    section{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 10px;
    }
  }
  .portfolio-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .portfolio-container::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  .portfolio-container::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-primary-color;
    background-image: -webkit-linear-gradient(
      45deg,
      $scroll-bar-accent-color 25%,
      transparent 25%,
      transparent 50%,
      $scroll-bar-accent-color 50%,
      $scroll-bar-accent-color 75%,
      transparent 75%,
      transparent
    );
  }

  // .portfolio-container::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //   background-color: #f5f5f5;
  // }

  // .portfolio-container::-webkit-scrollbar {
  //   width: 10px;
  //   background-color: #f5f5f5;
  // }

  // .portfolio-container::-webkit-scrollbar-thumb {
  //   background-color: $scroll-bar-accent-color;

  //   background-image: -webkit-gradient(
  //     linear,
  //     0 0,
  //     0 100%,
  //     color-stop(0.5, rgba(255, 255, 255, 0.2)),
  //     color-stop(0.5, transparent),
  //     to(transparent)
  //   );
  // }
}
