@import '../../styles/_mq';
@import '../../styles/_globals';
.profile-info-container {
  background-color: $primary-color;
  color: white;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq($from: mobile, $until: tablet) {
    width: 100%;
    min-height: 100%;
  }
  .profile-body {
    .user-image-container {
      text-align: center;
      padding-top: 1em;
      img {
        height: 12em;
        width: 12em;
        border-radius: 50%;
      }
    }
    .user-about-container {
      padding: 0 1em;
      text-align: center;
      font-family: 'Amithen';
      h1 {
        font-size: 1.8em;
        font-weight: normal;
        margin: 12px 0;
      }
      h2 {
        font-size: 1.4em;
        font-weight: normal;
        margin: 12px 0;
      }
    }
    .user-quote-container {
      text-align: center;
      margin-top: 2.4em;
      font-size: 1.4em;
      font-family: 'Amithen';
      padding: 0 0.4em;
    }
  }
  .user-social-medias-container {
    ul {
      list-style: none;
      display: flex;
      text-align: center;
      justify-content: space-between;
      font-size: 1.95em;
      margin: 0;
      padding: 0.4em 0.45em;
      @include mq($from: mobile, $until: tablet) {
        padding: 0.4em 0.85em;
      }
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
