@import '../../styles/_globals';
@import '../../styles/_mq';
.work-sample {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 0;
  background-color: white;
  border-radius: 2px 2px 0 0;
  width: 100%;
  @include mq($from: desktop) {
    width: 95%;
  }
  box-sizing: border-box;

  .work-sample-info-container {
    display: flex;
    flex-direction: column;

    .title,
    .work-description {
      padding: 0 0.45em;
    }
    .image {
      width: 100%;
      height: 24vw;
      @include mq($from: mobile, $until: tablet) {
        height: 54vw;
      }
      @include mq($from: tablet, $until: desktop) {
        height: 44vw;
      }
      border-radius: 2px 2px 0 0;
    }
    .title {
      margin: 0;
      width: 100%;
      color: white;
      box-sizing: border-box;
      background: linear-gradient(
      195deg,
      $gradient-color-1,
      $gradient-color-2,
      $gradient-color-3
    );
      -webkit-animation: live-gradient 10s ease infinite;
      -moz-animation: live-gradient 10s ease infinite;
      animation: live-gradient 10s ease infinite;
      background-size: 200% 250%;
      h3 {
        margin: 0.45em 0;
      }
    }
  }
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    box-sizing: border-box;
    button {
      margin: 0;
      border: 0;
      height: 30px;
      width: 100px;
      color: white;
      background: $primary-color;
      border-radius: 2px 0 0 0;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .work-description {
    font-size: 14px;
  }
}
