@import '../../styles/_globals';
@import '../../styles/_mq';
.work-sample {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // margin: 10px 0;
  background-color: white;
  // border-radius: 2px 2px 0 0;
  width: 100%;
  @include mq($from: desktop) {
    width: 49%;
  }

  box-sizing: border-box;
  margin: 6px 0.5%;
  @include mq($from: tablet, $until: desktop) {
    width: 97%;
    margin: 1.5% 1.5%;
  }
  .work-sample-info-container {
    display: flex;
    flex-direction: column;

    .title,
    .work-description {
      padding: 0 0.45em;
    }
    .title {
      margin: 0;
      width: 100%;
      color: white;
      box-sizing: border-box;
      background: linear-gradient(
        195deg,
        $gradient-color-1,
        $gradient-color-2,
        $gradient-color-3
      );
      -webkit-animation: live-gradient 10s ease infinite;
      -moz-animation: live-gradient 10s ease infinite;
      animation: live-gradient 10s ease infinite;
      background-size: 200% 250%;
      h3 {
        margin: 0.45em 0;
      }
    }
  }
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    box-sizing: border-box;
    button {
      margin: 0;
      border: 0;
      height: 30px;
      width: 100px;
      color: white;
      background: $primary-color;
      border-radius: 2px 0 0 0;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .work-description {
    font-size: 14px;
  }
}
.aws-sld__bullets {
  bottom: 10px;
  z-index: 2;
}
.aws-sld__bullets button {
  height: 10px;
  width: 10px;
}
.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 28px;
  --organic-arrow-color: rgba(255, 255, 255, 0.5) ;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: rgba(0, 0, 0, 0.7);
  --control-bullet-active-color:rgba(255, 255, 255, 0.5) ;
  --loader-bar-color: #02576c;
  --loader-bar-height: 6px;
}
