@import './_globals';
@import './_mq';

html,
body,
#root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}
@font-face {
  font-family: 'Amithen';
  src: url('/fonts/Amithen.otf') format('OpenType'),
    url('/fonts/Amithen.ttf') format('truetype');
}
::-moz-selection {
  background: var(--accent-color);
}
::selection {
  background: var(--accent-color);
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#root {
  display: flex;
  @include mq($from: mobile, $until: tablet) {
    flex-direction: column;
  }
}
.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.hide {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.99;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.99;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes live-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes live-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes live-gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}