@import './_globals';
html,
body,
#root {
  height: 100%;
}
@font-face {
  font-family: 'Amithen';
  src: url('/fonts/Amithen.otf') format('OpenType'),
    url('/fonts/Amithen.ttf') format('truetype');
}
::-moz-selection {
  background: $accent-color;
}
::selection {
  background: $accent-color;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#root {
  display: flex;
}
.box-shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}